* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.noscroll {
    background-color: #161a24;
    height: calc(100vh - 80px);
}

.container-right {
    float: left;
    height: 100%;
    overflow: auto;
    width: calc(100% - 250px);
}

.container-up {
    background-color:#101011;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.upgrade {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px;
    float: right;
    margin: 15px;
    text-transform: uppercase;
}

.logo {
    height: 55px;
    width: 80%;
}

.bg-black {
    background-color: black;
}

aside {
    background-color: black;
    width: 250px;
    float: left;
    height: calc(100vh - 80px);
    padding: 10px;
}

.box-3 {
    overflow: auto;
    height: calc(100% - 255px);
}

.box-4 {
    height: 90px;
}

.installa {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.none-xs {
    display: inline-block;
}

.rounded {
    border-radius: 50%;
}

.block {
    display: block;
}

.visible-xs {
    display: none;
}

.lil-pic {
    width: 30px;
    vertical-align: middle;
}

.lil-tit {
    padding: 10px 0;
    color: gray;
}

.download {
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 20px;
    display: inline-block;
    line-height: 20px;
}

.list-style-type-none {
    font-size: small;
    text-align: center;
    list-style-type: none;
}

.crea-playlist {
    min-height: 30px;
    min-width: 30px;
    background-color: gray;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    line-height: 80%;
    margin-right: 10px;
    margin-top: 10px;
}

li {
    padding-top: 10px;
    display: inline-block;
}

a {
    color: gray;
    padding: 10px;
    text-decoration: none;
}

.login {
    
}

.login-icon {
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
    width: 20px;
}

.text-center {
    text-align: center;
}

.vertical-middle {
    vertical-align: super;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.row {
    padding: 10px;
    margin: 15px 0;
}

.boldsmaller {
    font-weight: bold;
    font-size: smaller;
}

.album {
    width: 200px;
    vertical-align: top;
    margin-top: 15px;
}

h5 {
    margin: 10px;
}

h6 {
    margin: 8px 0;
}

.ml-10 {
    margin-left: 10px;
}

.album img {
    width: calc(100% - 20px);
    margin: auto;
}

.sinister {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.sinister-img {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.folder {
    margin-left: 10px;
}

.shuffle {
    font-size: larger;
}

.capsule {
    float: right;
    height: 10px;
    width: 10px;
    border-right: 1px solid white;
}

.rewind {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid white; 
}

.player {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: lightgrey;
    background-color: #282828;
    height: 80px;
    padding: 10px;
    justify-content: space-between;
}

.player-left {
    display: flex;
    align-items: center;
    margin-right: 40px;;
}

.player-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.player-right {
    flex-basis: 280px;
    display: flex;
    align-items: center;
}

.player-center-bottom {
    display: flex;
    justify-content: center;
}

.centerplay {
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.centerplay > i {
    padding: 0 20px 0 20px;
}

.progress-bar {
    margin: 0 10px;
    flex-basis: 350px;
    border-bottom: 3px solid grey;
}

.mr {
    font-size: small;
}

.volume-container {
    height: 20px;
    width: 150px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.volume {
    border-radius: 5px;
    width: 80%;
    border-bottom: 5px solid gray;
}

.player-right > i {
    padding: 0 10px;
}

.lil-tit:hover {
    color: white;
}
/**smartwatch*/
@media screen and (max-width: 380px) {

    aside {
        width: 50px;
    }

    .container-right {
        width: calc(100% - 50px);
    }

    .none-xs {
        display: none;
    }

    .visible-xs {
        display: inline-block;
    }
}

/* smartphone */
@media screen and (min-width: 381px) and (max-width: 767px) {
    aside {
        /* border: yellow 1px solid; */
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    aside {
        /* border: blue 1px solid; */
    }
}

/* desktop */
@media screen and (min-width: 993px) {
    aside {
        /* border: green 1px solid; */
    }
}




